<%= provide(:title,"Edit_form") %>
<div class = "form profile_color">
    <h1>プロフィール</h1>
        <div class = "profile_form">
        <a class = "profile_img"><img  src = "<%= "/#{@user.image}" %>"></a>
        <P class = "profile_name"><%= @current_user.name %></P>
        <p class = "profile_email"><%= @user.email %></p>
        <div class = "profile_btn">
        <%= link_to("編集","/user/#{@user.id}/destroy_form") %>
        <%#= link_to("削除","/user/#{@user.id}/destroy",{method: "post"} ) %>
        </div>
        </div>
        
        
        
    <h1>コメント一覧</h1>    
        <% @user.posts.each do |post| %>
        
        <div class = "profile_content">
        <p><%= link_to(post.content,"/post/#{post.id}/edit") %></p>
        <a class = "content_time"><%= simple_time(post[:created_at]) %></a>
         </div>
         <% end %>
        
        </div>
    
