<%= provide(:title,"User_table") %>
<div class = "data_form">
    <h1>userテーブル</h1>
    <div class = "data_content">
        
    
<table>
<tr>
<th><%= "id"%></th>
<th><%= "name" %></th>
<th><%= "email" %></th>
<th><%= "created_at" %></th>
<th><%= "updated_at" %></th>
<th><%= "image" %></th>
</tr>
</table>
<% @user.each do |user| %>
<table>
<tr>
<td><%= user.id%></td>
<td><%= user.name %></td>
<td><%= user.email %></td>
<td><%= user.created_at %></td>
<td><%= user.updated_at %></td>
<td><%= user.image %></td>
</tr>
<% end %>
</table>
</div>
</div>